body {
    margin: 0;
  }
  
  
  p{
    padding-left: 140px;
  }
  
  
  .container{
    max-width: 1200px; /*Tuve que checar mi código de mi página web. Ahí mismo
    ví que debía poner un "div" que contuviera casí todo el código y escribir los
    códigos para centrar. Sin embargo con 1200 píxeles se centra bien. Sí le pongo 1300
    ya no se centra muy bien, no sé porque, no me había pasado antes, pero bueno. */
    margin: 0 auto;
  
  
  }
  
  
  .column {
    display: flex;
   
   
  }
  
  
  .sisebuto {
    background-color: goldenrod;
    border-radius: 5px;
    margin: 10px;
  
  
  }
  
  
  .leogivildo{
    background-color: goldenrod;
    border-radius: 5px;
    margin: 10px;
  }
  
  
  .atanagildo{
    background-color: goldenrod;
    border-radius: 5px;
    margin: 10px;
  }
  