body {
    margin: 0; /*Para que no tenga márgenes indeseables y que se pueda manipular con
    mayor sencillez los márgenes*/
   
  }
  
  
  .container{
    display: flex;
    max-width: 1000px; /*Está es para un diseño responsivo*/
   
  }
  
  
  
  
  img{
    /*margin: 10px;*/
  border: 5px black solid; /*Para los marcos de las imágenes de los REYES*/
  }
  
  
  h1,h2,h3,p{
    margin-top: 0; /*Para evitar comportamientos INDESEABLES*/
   
  
  
  }
  
  
  .pp{
    padding-top: 10px; /* className = "pp" está enlazado al nombre de cada rey*/
  }
  