body {
    margin: 0; /*Para que no tenga márgenes indeseables y que se pueda manipular con
    mayor sencillez los márgenes*/
    user-select: none; /*Esté es una chingonería porque evita que el usuario pueda
    COPIAR Y PEGAR. Siempre me pregunté cómo le hacían en esas páginas en las que
    no podías seleccionar el contenido. AHORA LO SÉ.*/
   
  }
  
  
  .container{
    max-width: 700px; /*Está es para un diseño responsivo*/
    margin: 0 auto; /*Esta línea es para centrar el "container" */
  }
  
  
  button{
    border: black solid 1px;
    padding: 10px 20px; /*padding es para que se hagan más grandes los botones*/
    font-weight: bold;
    width: 200px;
    /*El comando width (ancho) es para el
    botón solamente, no para el texto.*/
    color: white;
    border-radius: 5px ;
    background: red;
    cursor: pointer; /*Este comando es para que, cuando el cursor pase por encima del botón, se cambia de una flecha a una manita como se ve en algunas páginas web*/
    margin-top: 20px;
  
  
  }
  
  
  input{
    margin: 10px 0;
  }
  