html, body,h1 {
  margin: 0;
  padding: 0;
 
}

:root {
  margin: 0 auto;
  max-width: 400px;
  text-align: center;/*Sin esta línea no se estaba centrando el input, ni el diminuto botón. A pesar de las instrucciones de "margin" y "max-width" */
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

}

button{ /*Son los botones en GENERAL*/
  border: black solid 0.063em;
  padding: 0.8em 1.6em;/*padding es para que se hagan más grandes los botones*/
  font-weight: bold;
  width: 70%; /*"width" con porcentaje para un diseño RESPONSIVO*/
  /*El comando width (ancho) es para el
  botón solamente, no para el texto.*/
  color: white;
  border-radius: 0.625em;
  background: red;
  cursor: pointer; /*Este comando es para que, cuando el cursor pase por encima del botón, se cambia de una flecha a una manita como se ve en algunas páginas web*/
  margin-bottom: 0em;
}

.calc1:hover{
  background-color: rgb(24, 153, 6);
}

input{
  text-align: center;
}

.mensajeaAlumno{
  font-weight: bolder;
}
